In [1]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [229]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

g_key = 'AIzaSyBLBvS5rJ-iAvCxB4vwnvZrKAEs_VqzJ9M'
# Import API key
#from api_keys import g_key

In [230]:
# Read weather_data.csv
weather_data = pd.read_csv(r'C:\Users\Mason\Data_Bootcamp\API-Weather\WeatherPy\weather_data.csv')

# Create DataFrame based on weather_data
weatherDF = pd.DataFrame(weather_data)
weatherDF

,City Name,Country,Max Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,Vanimo,PG,83.95,72,63,2.95,-2.67,141.30
1,Busselton,AU,79.00,32,62,8.61,-33.65,115.33
2,Anadyr,RU,23.00,100,90,4.47,64.75,177.48
3,Hermanus,ZA,61.00,83,37,3.00,-34.42,19.23
4,Hithadhoo,MV,83.28,73,40,8.57,-0.60,73.08
...,...,...,...,...,...,...,...,...
59,Xichang,CN,59.97,69,97,0.22,27.90,102.26
60,Saskylakh,RU,11.66,94,100,18.86,71.92,114.08
61,Takoradze,GH,76.86,90,17,8.08,4.88,-1.76
62,Castro,BR,61.99,92,98,1.92,-24.79,-50.01
63,Geraldton,AU,89.60,15,0,19.46,-28.77,114.60

In [242]:
gmaps.configure(g_key)
fig = gmaps.figure()

loc1 = weather_data['Latitude']
loc2 = weather_data['Longitude']
locations = list(zip(loc1, loc2))
weights = weather_data['Humidity']
fig.add_layer(gmaps.heatmap_layer(locations, weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [243]:
hotel_df = weatherDF[weatherDF['Max Temperature'] < 80]
hotel_df = hotel_df[weatherDF['Max Temperature'] > 70]
hotel_df = hotel_df[weatherDF['Wind Speed'] < 10]
hotel_df = hotel_df[weatherDF['Cloudiness'] == 0]
hotel_df

<ipython-input-243-b9aee10e0a09>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  hotel_df = hotel_df[weatherDF['Max Temperature'] > 70]
<ipython-input-243-b9aee10e0a09>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  hotel_df = hotel_df[weatherDF['Wind Speed'] < 10]
<ipython-input-243-b9aee10e0a09>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  hotel_df = hotel_df[weatherDF['Cloudiness'] == 0]

,City Name,Country,Max Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
23,Salalah,OM,71.60,46,0,3.36,17.02,54.09
26,Tessalit,ML,77.77,17,0,7.72,20.20,1.01

In [205]:
hotel_name = []

for index, row in hotel_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]

    location = f"{latitude},{longitude}"

    response = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=' + location + '&radius=5000&type=lodging&key=' + g_key).json()
    try:
        hotel_name.append(response['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [244]:
hotel_df['Hotel Name'] = hotel_name
hotel_df = hotel_df.dropna(subset = ['Hotel Name'])
hotel_df

,City Name,Country,Max Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude,Hotel Name
23,Salalah,OM,71.6,46,0,3.36,17.02,54.09,HAMDAN PLAZA HOTEL

In [245]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
coordinates = hotel_df[["Latitude", "Longitude"]]

In [246]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(coordinates)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))